<!DOCTYPE html>
<html class="h-100">
<head>
    <title>ChatClient</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</head>
<body class="h-100">
    
<div id="divApplicationContainer" class="form-group mx-sm-3 mb-2">
  <br>
  <form class="form-inline"><input type="text" class="form-control" placeholder="{{username}}" value="{{username}}" [(ngModel)]="chatMessageProp.user" name="username" />
  <br>
  <input type="text" class="form-control" placeholder="Deine Nachricht" [(ngModel)]="chatMessageProp.message" name="message"/>
  <br>
  <div style="float: left;">
    <button class="btn btn-primary mb-2" (click)="sendMessage()" type="button">Senden</button>
  </div>
  <div style="float: right;">
    <button class="btn btn-primary mb-2" (click)="LadeVerlauf()">Verlauf</button>
  </div>
  </form>
  <div id="comp-render" *ngIf="displayChat" style="margin-top: 5rem; border: 1px; border-style: solid;">
  <ul *ngFor="let message of shownMessages" style="border-radius: 2px; border: 2px;">
    <li>{{message.sender}} to: {{message.username}}: "{{message.message}}"</li>
  </ul>
</div>
</div>
</body>
</html>
